@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
 
}

#preloader {
  height: 100vh;
  width: 100vw;
  background: white url("Chunk-4s-200px.gif") no-repeat center center;
  z-index: 100;
  position: fixed;
}

.h {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0.5px 0.5px 0.5px 0.5px lightblue;
  position: fixed;
  z-index: 2;
}
.head3{
  display:flex;
  flex-direction:row;
  /* background-color:red; */
  height:4rem;
  align-items:center;
  font-family: 'Open Sans', sans-serif;
  margin-left:15vw;
  /* background-color:red; */

}
.nav{
  margin-left:45vw;
}
.h1 {
  width: 3.3em;
  height: 2.7em;
  margin-left: 10vw;
}

.h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  color: #0E2431 !important;
  margin-left: 0.5vw;
  font-weight: bolder;
  transition: ease-in-out 0.4s;



}

.h2:hover {
  color: #C07210 !important;
  cursor: pointer;
 
}

.h2line {
  border-bottom: 1px solid #011AFF;
  color: #011AFF !important;
}

.h3 {
  /* margin-left: 25vw; */
  font-size: 1.1em;
}

.h3:hover {
  color: #011AFF !important;
}

.h4 {
  font-size: 1.1em;
  margin-left: 3vw;
}

.h4:hover {
  color: #011AFF !important;
}

.a {
  width: 100%;
  min-height: 100vh;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.a1 {
  /* min-height: 100vh; */
  width: 100%;
  
}

.a2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  position: absolute;
  top: 3em;
  left: 9vw;
  color: #002057;
  width: auto;
}

.aextra {
  display: flex;
  flex-direction: row;
  /* background-color:red; */
  width: 40vw;
  position: absolute;
  top: 4.3em;
  left: 9vw;
  font-family: 'Poppins', sans-serif;
  color: #002057;
  font-size: 3em;
}

.a3 {
  color: #C07210;
  margin-left: 0.2em;
}

.aextra1 {
  display: flex;
  flex-direction: row;
  /* background-color:red; */
  width: 50vw;
 
  position: absolute;
  top: 10.5em;
  left: 9vw;
  font-family: 'Poppins', sans-serif;
  color: #002057;
  font-size: 1.7em;
}


.wrapper {

  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  margin-left: 0.7vw;
  width: 22.7ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: #C07210;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.a6 {
  position: absolute;
  top: 12em;
  left: 67vw;
  height: 16em;
  width: 16em;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px lightblue;
  transition: ease-in-out 1s;

}

.a6:hover {
  transform: scale(1.05);
}

.a7 {
  position: absolute;
  top: 23em;
  left: 9vw;
  height: 2.5em;
  width: 9em;
  background-color: #FFE600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 36px;
  box-shadow: 2px 2px 2px 2px lightblue;
  font-size: 1em;
  color: black;

  transition: ease-in-out 0.4s;
}

.a7:hover {
  background-color: #1A047E;
  cursor: pointer;
  color: white;
}

.b {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 27em;
}

.b1 {
  width: 2,5em;
  height: 2.5em;
  margin-left: 10vw;
  margin-top: 2em;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}

.b2 {
  margin-left: 0.5em;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}

.c {
  height: 600px;
  width: 100%;
  background-color: #E5ECFB;

}

.c1 {
  /* position: relative;
  left: 40vw; */
  width: 1.2em;
  height: 1.5em;
  /* top: 1.8em; */
}

.cextra {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 45.5vw;
  top: 0.5em;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  /* background-color:white; */
  width: 15vw;
  
}


.c3 {
  margin-left: 0.7vw;
  color: #7303A7;
}

.c4 {
  height: 25em;
  width: 18.5em;
  position: relative;
  left: 17vw;
  top: 2em;
  transition: ease-in-out 0.4s;
  box-shadow: 2px 2px 2px 2px lightblue;

}

.c4:hover {
  /* transform:scale(0.95); */
  box-shadow: 0px 0px 0px 0px lightblue;
}

.c5 {
  position: relative;
  left: 48vw;
  top: -15.5em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: black;
  width: 35vw;
}

.c6 {
  font-size: 1em;
  top: -23.5em;
}

.c7 {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  width: 35vw;
  top: -23em;

}



.c16 {
  position: relative;
  top: -20em;
  left: 48vw;
  border-radius: 3px;
  width: 9em;
}

.mextra {
  display: flex;
  flex-direction: row;
  /* background-color:red; */
  width: 40vw;
  top: -22em;
  position: relative;
  left: 48vw;
  height:5em;
}

.mextra1 {
  height: 5em;
  width: 20vw;
  /* background-color:blue; */
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.mextra2 {
  height: 2.5em;
  width: 20vw;
  /* background-color:skyblue; */
  display: flex;
  flex-direction: row;
}

.mextra3 {
  width: 5vw;
  color: #485AFF;
}

.d {
  height: 600px;
  background-color: #5605A0;
  width: 100%;

}

.d1 {
  width: 1.2em;
  height: 1.5em;
  /* position: relative;
  left: 35vw;
  top: 2em; */
}

.d2 {

  /* background-color: white; */
}

.dextra {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  color: white;
  position: relative;
  left: 41vw;
  width: 30vw;
  top: 0.5em;
  /* background-color:red; */
}

.d3 {
  color: #FFE600;
  margin-left: 0.7vw;
}

.d4 {
  background-color: #34036E;
  height: 27em;
  width: 80vw;
  position: relative;
  left: 10vw;
  top: 3em;
  display: flex;
  flex-direction: row;
  border-radius: 8px 8px 8px 8px;
}

.d5 {

  height: 27em;
  width: 40vw;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  flex-direction: column;
  /* background-color:yellow; */
}

.d6 {
  display: flex;
  height: 27em;
  width: 40vw;
  border-radius: 0px 8px 8px 0px;
  flex-direction: column;
  /* background-color:yellow; */
}

.d7 {
  margin-top: 1em;
  margin-left: 1vw;
  height: 4em;
  width: 37vw;
  background-color: #05001F;
  border-radius: 14px
}

.d8 {
  position: relative;
  left: 1vw;
  top: 0.5em;
  height: 1.5em;
}

.d9 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: relative;
  left: 3.5vw;
  top: -1.3em;
  font-size: 1em;
  width: 10vw;

}

.d10 {
  height: 0.7em;
  width: 35vw;
  background-color: white;
  position: relative;
  top: -0.7em;
  left: 1vw;
  border-radius: 14px
}

.d11 {
  background-color: #E03D0B;
  top: -1.4em;
  width: 31.5vw;
}

.d12 {
  top: -4em;
  left: 33vw;
}

.d13 {
  width: 29.4vw;
  background-color: #2962FF;
}

.d14 {
  width: 28vw;
  background-color: #FFD900;
}

.d15 {
  width: 24.5vw;
  background-color: #F38B03;
}

.d16 {
  width: 28vw;
  background-color: #2FDF7E;
}

.d17 {
  width: 29.75vw;
  background-color: #298521;
}

.d18 {
  width: 29.75vw;
  background-color: #F14E32;
}

.d19 {
  width: 24.5vw;
  background-color: #FFAE00;
}

.d20 {
  width: 28vw;
  background-color: #2962FF;
}

.d21 {
  width: 28vw;
  background-color: #F38B03;
}

.e {
  background-color: #E5ECFB;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}

.e1 {
  /* position: relative;
  top: 0em;
  left: -9.5vw; */
  width: 1.2em;
  height: 1.5em;
}

.eextra {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0.5em;
  left: 3vw;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  width: auto;

}
.enew{
  margin-left:0.7vw;
}


.e3 {
  color: #7303A7;
  margin-left: 0.7vw;
}

.e4 {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  left: 1vw;
  top: 1em;
  position: relative;
}

.e5 {
  background-color: white;
  height: 9em;
  width: 65vw;
  position: relative;
  top: 3em;
  box-shadow: 2px 2px 2px 2px lightblue;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
}

.e5:hover {
  box-shadow: 0px 0px 0px 0px lightblue;
}

.e6 {
  width: 11em;
  height: 9em;
  border-radius: 8px 0px 0px 8px;

}

.e7 {
  position: relative;
  left: 15vw;
  top: -5em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: #012970;
  width: 50vw;

}

.e8 {
  position: relative;
  left: 15vw;
  top: -7.2em;
  color: #551A8B;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 50vw;

}

.e9 {
  position: relative;
  left: 15vw;
  top: -4.6em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: #226D00;
  width: 50vw;

}

.e10 {
  top: 4em;
}

.e11 {
  top: 5em;
}

.f {
  background-color: #fdf3f3;
  height: 850px;
  width: 100%;

}


.sick {
  color: black;
}

.sick2 {
  color: #7303A7;
}

.f2 {
  height:1.2em;
  width:1em;
}

.x1 {
  color: black;
}

.card_container{
  display:flex;
  width:100%;
  height:600px;
  background-color:#fdf3f3;
  position: relative;
  top:4em;
  justify-content:center;
  align-items:center;
  gap:3em;
  flex-wrap:wrap;
}

.cards{
  height:250px;
  width:250px;
  background-color:white;
  border-radius:12px;
  transition:ease-in-out 0.3s;
  /* border:1px solid #5605a0; */
  cursor:pointer;
  overflow:hidden;
}

.cards:hover{
  box-shadow:5px 5px 5px 2px #5605a0;


}
.card_img{
  width:248px;
  border-radius:12px 12px 12px 12px;
  
}









.f3 {
   /* height: 130em;
  width: 80vw;
  position: relative;
  left: 10vw;
  top: 4em;
  display: flex; */
  /* flex-direction: row; */
  /* background-color:black; */
  /* border-radius: 3px; */ */
}
.fit{
  height:10em;
  width:50em;

}
.fitwrap{
  position:relative;
  top:3em;
  width:100%;
  display:flex;
  justify-content:center;

}
.fin1 {
  border-radius: 3px;
  background-color: white;
  width: 13vw;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-left: 0.3vw;
}

.fin2 {
  margin-top:9em;
  margin-left: 0.3vw;
}

.fin1a {
  margin-top: 1em;
  width: 3em;
  height: 3em;
}

.fin1b {
  margin-top: 1em;
  color: back;
  font-family: 'Poppins', sans-serif;
}

.fin1c {
  background-color: #FF3078;
  height: 1em;
  width: 3vw;
  margin-top: 2em;
  margin-left: 10vw;
}

.fin1ci {
  background-color: #3EB4F1;
}

.fin1cii {
  background-color: #FFDA27;
}

.fin1ciii {
  background-color: #74B65F;
}

.fin1civ {
  background-color: #9C62DD;
}

.fin1cv {
  background-color: #FF554D;
}

.fin1d {
  font-size: 0.4em;
  width: 10vw;
  margin-top: 1em;
  font-family: 'Open Sans', sans-serif;
  
  background-color: white;
}

.fin1e {
  /* font-size:1.2vh; */
  width: 8vw;
  margin-top: 2em;
  font-family: 'Poppins', sans-serif;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: white;
  background-color: #FF3078;
}

.fin1ei {
  background-color: #3EB4F1;
}

.fin1eii {
  background-color: #FFDA27;
}

.fin1eiii {
  background-color: #74B65F;
}

.fin1eiv {
  background-color: #9C62DD;
}

.fin1ev {
  background-color: #FF554D;
}

.fin1e:hover {
  background-color: #FFE600;
  color: black;
}

.f5 {
  margin-top: 1em;
}


.hello2 {
  text-decoration: none;
}

 .z {
  height: 300px;
  width: 100%;
  background-color:#00012B;
  display: flex;
  flex-direction: row;
}

.z1 {
  width: 23vw;
  background-color: #00012B;
  height: 18em;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: white;

}

.z2 {
  margin-left: 0.7vw;
  font-size: 1.5em;
  margin-top: 2em;
}

.z3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
  margin-top: 2em;
  margin-left: 0.7vw;
  color: #CCCCCC;
}

.z4 {
  margin-left: 3.7vw;
  width: 25vw;
  background-color: #00012B;
  height: 18em;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.z5 {
  height: 1em;
  width: 1em;

}

.z6 {
  margin-left: 0.5vw;
}

.z7 {

  /* background-color:white; */
   width: 25vw;
  height: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.2s;
  margin-top: 1em;
  margin-left: 0.5vw;
}

.z7:hover {
  color: #FFAE00;
}

.z8 {
  margin-top: 0.4em;
}

.z19 {
  margin-left: 5vw;

}

.z20 {
  color: #CCCCCC;
}

.design {
  height: 80px;
  width: 100%;
  background-color: #00012B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.design1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00012B;
  width: 80vw;
  height: 3em;
  border-top: 0.1vh solid #CCCCCC;
  /* background-color:white; */
}

.design2 {
  display: flex;
  flex-direction: row;
  background-color: #00012B;
}

.design3 {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.design4 {
  height: 1.5em;
  width: 1.8em;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
   /* background-color:white; */
}

.design5 {
  font-family: 'Poppins', sans-serif;
  color: #FFAE00;
  margin-left: 0.3vw;
}

.items {
  width: 23vw;

  /* height: 6vh; */
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

.items1 {
  width: 2.5em;
  margin-left: 1vw;
}

.items2 {
  margin-left: 0.5vw;
}

.hello {
  text-decoration: none;
  color: white;
}

/* CSS for projects section */

@media screen and (max-width:1450px){
  .f{
    height:1080px;
  }
}


.headent{
  border-radius:16px;
  height:50em;
  width:25vw;
  background-color:white;
  /* flex-direction:column; */
  margin-left:40vw;

}
.headlock{
  flex-direction:column;
 margin-top:20em;

  }














@media screen and (max-width:1300px){
.cextra{
  font-size:2em;
}
.dextra{
  font-size:2em;
}
.eextra{
  font-size:2em;
}
.e7 {
  left: 17vw;
}
.e8 {
  left: 17vw;
}
.e9 {
  left: 17vw;
}
.mextra3 {
  width: 7vw;
}



}
@media screen and (max-width:1100px){

  .e7 {
    left: 19vw;
  }
  .e8 {
    left: 19vw;
  }
  .e9 {
    left: 19vw;
  }
  .f3 {
    flex-direction: column;
    /* background-color:red; */
    top: 2em;
  }

  .fin1 {
    width: 80vw;
    margin-left: 0vw;
    height: 10em;
    flex-direction: row;
    margin-top: 0.1em;

  }

  .fin1c {
    height: 4em;
    width: 0.3em;
    margin-top: 0em;
    margin-left: 1vw;
  }

  .fin1a {
    width: 3.5em;
    margin-left:3vw;
  }

  .fin1b {
    font-size: 1em;
    margin-top: 1em;
    width: 27vw;
    margin-left:3vw;
  }

  .fin1d {
    margin-top: 0em;
    width: 25vw;
    margin-left: 0vw;
  }

  .fin1e {
    margin-left: 3vw;
    margin-top: 0em;
  }

  .fin2 {
    margin-top: 0.1em;
  }
  .aextra1 {
    
    width: 63vw;
  }

}
@media screen and (max-width:1000px){
  .aextra {
    
    width: 70vw;
  }
  .mextra2 {
    width: 31vw;
  }
  .headent{
    border-radius:16px;
    height:50em;
    width:25vw;
    background-color:white;
    /* flex-direction:column; */
    margin-left:40vw;

  }
  .nav2{
    margin-left:2vw;
  }
  .headlock{
    flex-direction:column;
   margin-top:20em;
  
    }
    .h2{
      margin-left:0vw;
    }
    .a6 {

      top: 38em;
      left: 36vw;
    }
    .c {
      height: 1000px;
    }
    .c5 {
      top: 3em;
      left: 9vw;
      width: 48vw;
    }
    .c6{
      top:4em;
    }
    .c4 {
      height: 20em;
      left: 34vw;
    }
    .c16 {
      left:10vw;
      top: 8em;
    }
    .c7{
      top:4em;
    }
    .mextra {
      top: 5em;
      left: 10vw;
    }
.dextra{
  width:40vw;
}
.e7 {
  left: 20vw;
  top: -6em;
  font-size: 1.3em;
}
.e8 {
  left: 20vw;
  top: -10.2em;
  
  font-size: 0.7em;
}
.e9{
  left: 20vw;
  top: -4.5em;
  font-size: 1.3em;
}


  }
  @media screen and (max-width:900px){
    .f{
      height: 1680px;
    }

    .d9 {
      left: 4.5vw;
    }
.d12{
  left: 29.5vw;
}
.e7 {
  left: 22vw;
  top: -7em;
  font-size: 1.1em;
}
.e8 {
  left: 22vw;
}
.e9 {
  left: 22vw;
  top: -5.5em;
  font-size: 1.1em;
}


  }
  @media screen and (max-width:850px){
  .aextra1 {
    width: 66vw;
}
.e7 {
  left: 23vw;
 
}
.e8 {
  left: 23vw;
}
.e9 {
  left: 23vw;
  
}
.mextra3 {
  width: 8vw;
}
.mextra1 {
  width: 24vw;
  }
}
  @media screen and (max-width:800px){
    .aextra1 {
      width: 70vw;
  }
.d9{
  width:12vw;
}
.z3 {
  
  font-size: 0.5em;
}
.e7 {
 
  left: 25vw;
  font-size:1em;
  
  /* width: 42vw; */
}
.e8{
 
  left: 25vw;
  width: 36vw;
  top: -9.2em;
}
.e9 {
 
  left: 25vw;
  
}


  }
  @media screen and (max-width:750px){

    .nav {
      margin-left: 35vw;
  }
  .nav2{
    margin-left: 3vw;

  }
 
  .aextra1 {
    width: 75vw;
}
.mextra3 {
  width: 9vw;
}
.dextra {
  left:33vw;
  width: 45vw;
}
.e5 {
  width: 78vw;
}
.c5 {
  
  width: 65vw;
}
.e7 {
  left: 28vw;
}
.e8 {
  left: 28vw;
}
.e9{
  left: 28vw;
}
.cextra {
  
  left: 33vw;
}
  }
  @media screen and (max-width:700px){
    .aextra1 {
      width: 85vw;
  }
    .dextra {
      left: 27vw;
    }
    .d{
      height:1000px;
    }

    .d4 {
      flex-direction: column;
      height: 54em;
    }
  
    .d5 {
      width: 80vw;
      align-items: center;
      height: 30em;
    }
  
    .d6 {
      width: 80vw;
      align-items: center;
      height: 30em;
    }
  
    .d7 {
      width: 77vw;
      height: 4em;
      /* margin-top: 1.7vh; */
    }
  
    .d8 {
      height: 2em;
      top: 0.3em;
      left: 2vw;
    }
  
    .d9 {
      left: 10vw;
      font-size: 1em;
      width: 17vw;
      top: -1.7em;
    }
  
    .d10 {
      height: 0.6em;
      width: 70vw;
    }
  
    .d11 {
      height: 0.6em;
      top: -1.3em;
      width: 63vw;
    }
  
    .d12 {
      left: 65.9vw;
      top: -4.5em;
    }
  
    .d13 {
      width: 58.8vw;
    }
  
    .d14 {
      width: 56vw;
    }
  
    .d15 {
      width: 49vw;
    }
  
    .d16 {
      width: 56vw;
    }
  
    .d17 {
      width: 59.5vw;
    }
  
    .d18 {
      width: 59.5vw;
    }
  
    .d19 {
      width: 49vw;
    }
  
    .d20 {
      width: 56vw;
    }
  
    .d21 {
      width: 56vw;
    }

  }
  @media screen and (max-width:650px){
    .h2 {
      
      font-size: 1em;
    }
    .nav {
      margin-left: 30vw;
  }
  .nav2{
    margin-left: 4vw;

  }
  .headent {
  
    width: 39vw;
   
    margin-left: 25vw;
}
  .a2 {
   
    font-size: 2em;
  }
  .aextra {
   
    font-size: 2em;
  }
  .aextra1 {
    
    font-size: 1.2em;
}
.a7 {
  
  top: 18em;
}
.b {
 
  top: 21em;
}
.a6 {
  top: 28em;
  left: 27vw;
}
.c4 {
  
  left: 25vw;
}

.mextra {
  top: 9em;
}

.mextra3 {
    width: 12vw;
}
.mextra2 {
  width: 42vw;
}
.mextra1 {
  width: 31vw;
}
.c7 {
  top: 6em;
}
.c16{
  top:10em;
}
.dextra {
  left: 22vw;
  width: 49vw;
}
.eextra{
  left:0vw;
}

.e6 {
    width: 9em;

  }
  .e7 {
    left: 26vw;
}
.e8 {
  left: 26vw;
}
.e9 {
  left: 26vw;
}
.fin1b {
 
  width: 22vw;
}
.fin1e {
  font-size:0.8em;
}
.z {
  height: 800px;
  flex-direction:column;

}
.z1{
  height: 15em;
}
.z4 {
  margin-left: 9.7vw;
  
  /* background-color: red; */
  height: 15em;
}
.z19{
  margin-left: 10vw;

    width: 31vw;
}
.z7 {
 
  width: 46vw;
}
}


@media screen and (max-width: 600px){
  .f{
    height: 2880px;
  }
.dextra {
    font-size: 1.5em;
}
.a6 {
  
  left: 40vw;
  height: 10em;
  width: 10em;
}
.c4 {
  height: 16em;
  width: 16.5em;
}
.dextra {
  left: 29vw;
}
.eextra {
  font-size: 1.5em;
}
.e7 {
  left: 27vw;
  top: -8em;
}
.e8 {
  top: -11.2em;
  left: 27vw;
}
.e9{
  left: 27vw;
  top: -6.4em;
}
}
@media screen and (max-width: 550px){

  .a6 {
    left: 32vw;
  }
  .e4 {
    font-size: 0.7em;
  }
  .e7 {
    left: 32vw;
  }
  .e8{
    left: 32vw;
    width: 42vw;
  }
  .e9 {
    left: 32vw;
  }
  .z4 {
    
    width: 30vw;
  }

}
@media screen and (max-width: 500px){

  .c4 {
    left: 19vw;
}
.c5 {
  width: 85vw;
}
.mextra2 {
  width: 50vw;
}
.mextra3 {
  width: 15vw;
}
.mextra1 {
  width: 38vw;
}
.d9 {
  
  width: 19vw;
}
.e6 {
  width: 7em;
}
.e7 {
  left: 29vw;
}
.e8{
  left: 29vw;
}
.e9{
  left: 29vw;
}
.fin1b {
  font-size: 0.8em;
}
.fin1e {
  font-size: 0.6em;
}
.fin1d {
  font-size: 0.3em;
}
.nav {
  margin-left: 20vw;
}
.nav2{
  margin-left: 4vw;

}
.headent {

  width: 39vw;
 
  margin-left: 14vw;
}
.fin1a {
  margin-left: 0vw;
}
}
@media screen and (max-width: 450px){
  .aextra1 {
    font-size: 1.1em;
    width: 90vw;

}
.a6 {
    left: 30vw;
}
.cextra {
  left: 26vw;
}
.c4 {
  left: 16vw;
}
.c7 {
  font-size: 0.7em;
}
.mextra1 {
 
  font-size: 0.6em;
}
.z4 {
  width: 39vw;
}
.z7 {
  width: 53vw;
}
.dextra{
  width: 65vw;
  left: 23vw;
}
.d9 {
  width: 21vw;
}
.e7 {
  top: -13em;
  font-size: 0.6em;
  left: 31vw;
}
.e8 {
  top: -15em;
  font-size: 0.5em;
  left: 31vw;
}
.e9 {
  left: 31vw;
  top: -8.4em;
  font-size: 0.8em;
}
.d9 {
  left: 13vw;
  font-size: 0.7em;
}
.d12 {
  left: 65.9vw;
  top: -4.8em;
}

.nav {
  margin-left: 15vw;
}
.nav2{
  margin-left: 4vw;

}
.headent {
  width: 39vw;
  margin-left: 9vw;
}


}
@media screen and (max-width: 400px){

  .aextra {
    width: 77vw;
}
.aextra1 {
  font-size: 0.7em;
  top: 18.5em;
}
.c4 {
  left: 11vw;
}
.fin1e {
  font-size: 0.5em;
}
.e4 {
  font-size: 0.4em;
}
.e9 {
  left: 34vw;
  top: -8.4em;
  font-size: 0.6em;
}
.e8{
  left: 34vw;
 
}
.e7 {
  left: 34vw;
  top: -16em;
  font-size: 0.5em;
}



}
@media screen and (max-width: 350px){
  .fin1d {
 
    display: none;
  }
  .nav {
    margin-left: 5vw;
}
.headent {
  width: 39vw;
  margin-left: 3vw;
}
.e6 {
 
  display: none;
}
.e8 {
  left: 16vw;
  top : 6em;
}
.e7 {
  left: 16vw;
  top: 4em;
}
.e9 {
  left: 16vw;
  top: 6.6em
}
.design {
 
  font-size: 0.8em;
}
.z7 {
  width: 82vw;
}
.dextra {
  width: 74vw;
  left: 17vw;
}
.c4 {
  left: 6vw;
}
.aextra {
  font-size: 1.5em;
  top:6.3em;
}
}
@media screen and (max-width: 300px){

  .a6 {
    left: 23vw;
}
.c4 {
  left: 3vw;
}
.cextra {
  left: 16vw;
}
.mextra {

  left: 7vw;
}
.dextra {
  width: 79vw;
  left: 10vw;
}
.fin1e {
  font-size: 0.3em;
}


}